*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; /* Change to your desired background color */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow as needed */
    border-radius: 8px; 
    position: fixed;
    width: 80%;
    margin-left: 10%;
}
.nav h2{
    margin-right: 25%;
    color: black;
}
.nav a{
    text-decoration: none;
}
.nav h2 span{
    color: #0074D9;
    font-weight: bolder;
}
.nav .heading{
    margin-left: 20px;
    text-decoration: none;

}
.nav .heading a{
    text-decoration: none;
    font-weight: 800;
    color: #333;
}
.underline-hover {
    position: relative; 
}

.underline-hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; 
    background-color: #0074D9; 
    bottom: 0; 
    left: 0;
    transform: scaleX(0); 
    transform-origin: bottom right; 
    transition: transform 0.2s; 
}

.underline-hover:hover::before {
    transform: scaleX(1); 
    transform-origin: bottom left; 
}
.content{
    padding: 12%;
}
.content .img{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 1rem;
}
.content .img img{

    width: 60%;
}
.content .img  .kissu{
    width: 60%;
}
.content .conatiner{
    margin-left: 1rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 15rem;
}
.conatiner  img{
    width: 50px;
    padding: 0.5rem;
}
.content .conatiner .yt{
    width: 4rem;
} 
.content .conatiner .ins{
    width: 3.2rem;
} 
.content .conatiner .twi{
    width: 2.8rem;
} 
.content footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90%;
    margin-top: 2rem;
}
.conatiner{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(253, 253, 253); /* Change to your desired background color */
        padding: 20px;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1); /* Add shadow as needed */
        border-radius: 0px; 
        width: 80%;
        border-radius: 2rem;
}
.content .saurav{
    display: flex;
    background-color: #33333334;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}
.content .saurav img{
    width: 300px;
}
.content .saurav h4{
    margin: 1rem;
}
.content .saurav h4 span{
    color: rgba(0, 0, 0, 0.459);
}
.content .saurav h4  a{
    text-decoration: none;
}
  .number-display{
    display: flex;
}
.content .saurav button{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 25px;
    width: 12rem;
    justify-content: center;
    border-color:  #333;
    border-radius: 20px;
    margin-top: 16rem;
    margin-left: -15rem;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}
.content .saurav button:hover{
    background-color: #0074d98f;
    border-color: #0074d98f;
    transition: 0.5s;
}
@media screen and (max-width: 444px) {
    .nav{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white; /* Change to your desired background color */
        padding: 20px;
        box-shadow: 0 0px 20px 10px rgba(0, 0, 0, 0.1); /* Add shadow as needed */
        border-radius: 0px; 
        position: fixed;
        width: 100%;
        margin-left: 0%;
        height: 2px;
    }
    .nav h2{
        font-size: 1rem;
    }
    .nav .heading a{
        margin-right: 5px;
        font-size: 1rem;
    }
    .content{
        padding: 5%;
    }
    .content h1{
        font-size: 1.5rem;
        padding: 8%;
    }
    .content .img{
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .content .img img{
    
        width: 60%;
    }
    .content .conatiner{
        margin-left: 0.5rem;
        width: auto;
        height: 40px;
    }
    .conatiner  img{
        width: 50px;
        padding: 0.5rem;
    }
    .conatiner  img{
        width: 50px;
        padding: 0.5rem;
    }
    .content .conatiner .yt{
        width: 3rem;
    } 
    .content .conatiner .ins{
        width: 2.2rem;
    } 
    .content .conatiner .twi{
        width: 1.8rem;
    } 
    .cont
    .conatiner{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(253, 253, 253); 
            padding: 20px;
            box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
            border-radius: 0px; 
            width: 80%;
            border-radius: 2rem;
            font-size: 1rem;
    }
    .content footer{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 9px;
    }
    .content .saurav{
        margin-top: 2rem;
        display: flex;
        width: 100%;
        
        background-color: #33333334;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    }
    .content .saurav h4{
        margin: 1rem;
        font-size: 10px;
    }
    .content .saurav h4 span{
        color: rgba(0, 0, 0, 0.459);
    }
    .content .saurav h4 span a{
        text-decoration: none;
    }
    .content .saurav  .number-display{
        display: flex;
    }
    .content .saurav img{
        width: 150px;
    }
    .content .saurav button{
        text-decoration: none;
        border-color:  #333;
        width: 6rem;
        height: 1rem;
        margin-top: 12rem;
        margin-left: -4rem;
        font-size: 8px;
        box-shadow: 0px 0px 20px 10px rgba(155, 34, 34, 0.1);
    }
}
